.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.logoimg {
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.login-subtittle {
  margin-top: 15px;
  color: #979DB1;
  font-size: 16px;
}

.centered {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 440px;
}

.login-field {
  width: 100%;
  background-color: #F4F5F7;
  border-radius: 15px;
  height: 35px;
  padding: 15px 20px;
  outline: none;
  border: none;
}

.login-btn {
  background-color: #27AE60;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  color: white;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.error {
  margin-top: 10px;
  color: #F04A4A;
  font-size: 12px;
}

input::-webkit-input-placeholder,
input:-moz-placeholder {
  color: #AEB2BF;
  font-size: 14px;
}
